.DS_Store
*.pyc
__pycache__/*
*.c
*.html
*.so
a.out
#*#
*~
.nfs*
data/*
config/*
plots/*
build/*
Kathryn's\ Code/*
*Notes.bib
text/notebooks/.ipynb_checkpoints/*
text/notebooks/Untitled*
text/paper1/arxiv/*
text/other_papers/*
*.sublime*