.DS_Store
*.pyc
__pycache__/*
*.c
*.html
*.so
a.out
#*#
*~
.nfs*
data/*
plots/*
build/*
*Notes.bib
text/notebooks/.ipynb_checkpoints/*
text/notebooks/Untitled*
text/paper1/arxiv/*
text/paper1/resubmit*/
text/other_papers/*
text/paper2/ms.pdf
text/paper2/*.aux
text/paper2/*.log
*.sublime*
*.eps
*.mov
text/poster/*
*.JPG
config/